@import "~vue_root/assets/scss/_variables.scss";

.searchInput {
    position: relative;
    input {
        text-indent: 24px;
    }
    .fa-search {
        position: absolute;
        top: 10px;
        left: 18px;
    }
}

::v-deep {
    .table-nostriped tbody th tr:nth-of-type(odd) {
        background-color: white;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
    }

    .table-nostriped th {
        background-color: white;
    }

    th {
        font-weight: 600;

    }

    .user-list-table {
        max-height: 800px;
    }
}
