@import "~vue_root/assets/scss/_variables.scss";

.finicityOauthComponent {
    ::v-deep {
        th {
            font-weight: 600;
        }
    }
    .fadeHeight-enter-active,
    .fadeHeight-leave-active {
        transition: all 0.5s ease-in-out;
        max-height: 2300px;
        overflow: hidden;
    }
    .fadeHeight-enter,
    .fadeHeight-leave-to
    {
        opacity: 0;
        max-height: 0px;
        overflow: hidden;
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.5s ease-in-out;
    }
    .fade-enter,
    .fade-leave-to
    {
        opacity: 0;
    }
}
