#bankAccountLinkComponent {
    >a {
        vertical-align: text-bottom;
    }
    ::v-deep {
        .popover {
            box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.13);
            border-color: white;
            border-radius: 0.1rem;
            max-width: fit-content;
        }

        div.arrow {
            display: none;
        }
    }
    .inputBox {
        width: 200px;
    }
}
