@import "~vue_root/assets/scss/_variables.scss";
.link-accounts-modal {
    ::v-deep {
        .modal-body {
            text-align: center;
            padding: 75px $grid-gutter-width;
        }
    }
    .close-icon {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        color: $gray-400;
    }
    .logo {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 60px;
    }

    .body {
        font-size: 16px;
        p:not(:last-of-type) {
            margin-bottom: 30px;
        }

        .link-button {
            padding-left: 6rem;
            padding-right: 6rem;
            display: block;
            margin-top: 1.5rem;

            @media #{$breakpointTabletMax} {
                padding-left: 1rem;
                padding-right: 1rem;
                width: 100%;
            }
        }
    }
}
