@import "~vue_root/assets/scss/_variables.scss";
.defense-panel {
    ::v-deep {
        .vs__selected-options {
            justify-content: center;
        }
    }

    .defense-panel__select-input {
        margin-bottom: 30px;
        margin-top: 15px;
        background-color: $body-bg;
    }
}
