@import "~vue_root/assets/scss/_variables.scss";

.refreshAccountsComponent {
    .fa-sync-alt {
        font-size: 125%;
        margin-top: 6px;
        cursor: pointer;
    }

    &.mobile {
        vertical-align: bottom;
        padding-bottom: 5px;
    }

    .disabled {
        cursor: not-allowed;
    }

    .fa-sync-alt {
        color: $link-hover-color;
    }
}
