.alert-success {

    .close-btn {
        cursor: pointer;
    }

}
.fadeHeight-enter-active,
.fadeHeight-leave-active {
    transition: all 0.5s ease-in-out;
    max-height: 2300px;
    overflow: hidden;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
}
