
.icon-dym-cup:before { content: '\e800'; } /* '' */
.icon-dym-plus:before { content: '\e801'; } /* '' */
.icon-dym-dashboard_full_color:before { content: '\e802'; } /* '' */
.icon-dym-add:before { content: '\e803'; } /* '' */
.icon-dym-drag-and-drop:before { content: '\e804'; } /* '' */
.icon-dym-remove:before { content: '\e805'; } /* '' */
.icon-dym-edit:before { content: '\e806'; } /* '' */
.icon-dym-lightbulb:before { content: '\e807'; } /* '' */
.icon-dym-alarm:before { content: '\e808'; } /* '' */
.icon-dym-crown:before { content: '\e809'; } /* '' */
.icon-dym-accounts:before { content: '\e80a'; } /* '' */
.icon-dym-credit-card:before { content: '\e80b'; } /* '' */
.icon-dym-dashboard:before { content: '\e80c'; } /* '' */
.icon-dym-help:before { content: '\e80d'; } /* '' */
.icon-dym-organize:before { content: '\e80e'; } /* '' */
.icon-dym-refresh:before { content: '\e80f'; } /* '' */
.icon-dym-reports:before { content: '\e810'; } /* '' */
.icon-dym-settings:before { content: '\e811'; } /* '' */
.icon-dym-sign-out:before { content: '\e812'; } /* '' */
.icon-dym-transfer:before { content: '\e813'; } /* '' */
.icon-dym-calendar-list:before { content: '\e814'; } /* '' */
.icon-dym-face-id-logo:before { content: '\e815'; } /* '' */
